@font-face {
    font-family: 'inter';
    font-weight: 400;
    src: url(../fonts/Inter-Regular.woff);
  }

@font-face {
    font-family: 'inter';
    font-weight: 500;
    src: url(../fonts/Inter-Medium.woff);
}

@font-face {
    font-family: 'inter';
    font-weight: 600;
    src: url(../fonts/Inter-SemiBold.woff);
}

@font-face {
    font-family: 'inter';
    font-weight: 700;
    src: url(../fonts/Inter-Bold.woff);
}

@font-face {
    font-family: 'poppins';
    font-weight: 400;
    src: url(../fonts/Poppins-Regular.woff);
  }

@font-face {
    font-family: 'poppins';
    font-weight: 500;
    src: url(../fonts/Poppins-Medium.woff);
}

@font-face {
    font-family: 'poppins';
    font-weight: 600;
    src: url(../fonts/Poppins-SemiBold.woff);
}

@font-face {
    font-family: 'poppins';
    font-weight: 700;
    src: url(../fonts/Poppins-Bold.woff);
}
